---
import Button from "../atoms/Button.astro";
import Logo from "../atoms/Logo.astro";
import LogoText from "../atoms/LogoText.astro";
---

<header class="header flex-shrink-0 border-b-[0.5px] border-gray-700 p-4 z-10">
  <div class="flex items-center justify-between max-w-4xl m-auto">
    <div class="flex items-center gap-3 flex-shrink-0">
      <Logo animated />
      <LogoText
        animated
        classname="text-gray-300 font-extrabold text-3xl font-sans "
      />
    </div>
    <div class="flex items-center gap-8 flex-shrink-0">
      <a href="#features" class="hidden md:block">Features</a>
      <Button glowingBorder>
        Try now <span class="hidden md:block">&nbsp;for free</span>
      </Button>
    </div>
  </div>
</header>

<style>
  svg path {
    fill: #777;
  }
</style>
