---
import Image from "astro/components/Image.astro";
import TestimonialImage from "../../images/testimonial.webp";
---

<div class="pt-28">
  <h4 class="max-w-sm md:max-w-2xl m-auto text-center text-gray-300 text-sm md:text-xl">
    “As someone in tech, every minute counts. Acme notes gives me focus blocks,
    optimizes meeting times, and even lets my family know when to message me.
    It's a game-changer, saving me 2+ hours weekly, and that's not counting the
    distraction-free time.”
  </h4>

  <div class="flex items-center gap-4 justify-center mt-6">
    <Image
      src={TestimonialImage}
      alt="John Doe"
      class="w-12 h-12 rounded-full"
    />
    <div>
      <p class="text-gray-400">John Doe</p>
      <p class="text-sm text-gray-500">Head of Data @ Google</p>
    </div>
  </div>
</div>
