---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Sections/Header.astro";
import Hero from "../components/Sections/Hero.astro";
import HeroMarquee from "../components/Sections/HeroMarquee.astro";
import Features from "../components/Sections/Features.astro";
import Testimonial from "../components/Sections/Testimonial.astro";
import Reminder from "../components/Sections/Reminder.astro";
import Footer from "../components/atoms/Footer.astro";
---

<Layout title="Acme Notes">
  <Header />
  <main class="text-white flex-1 overflow-auto main">
    <!-- <Hero />
    <HeroMarquee /> -->
    <Features />
    <Testimonial />
    <Reminder />
    <Footer />
  </main>
</Layout>

<style>
  .main {
    scroll-timeline-name: --main-scroller;
    scroll-timeline-axis: block;
    scrollbar-color: #767676 rgb(55, 56, 57);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
